#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  border-style:hidden;
}

#about-section {
  white-space: pre;
}

td {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.square {
  margin: auto;
  text-align: center;
  font-size: 150px;
}

#game-message {
  font-weight: bold;
}
